.App{
  background: burlywood;
}
.header_text{
  font-family: montserrat,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #0f466b;
text-align: center;
}
.ds{
  display: flex;
}

.stolen{
  display: block;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.discription{
  width: 300px;
  padding: 5px;
  margin-right: 5px;
}
.search_from_to_cases{
  padding: 5px;
  width: 100px;
}
.stolen-bike{
  background: #f2f2f2;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  margin-bottom: 50px;
}
.byke_info_image{
  width: 200px;
  height: 200px;
}
.byke_info{
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 5px;
    left: 222px;
}
.bike_loc{
  display: flex;
  flex-direction: column;
  
}
.calender{
  max-width: 1140px;
  width: 10%;
  margin: auto;

}
.Page_info{
  display: flex;
  justify-content: center;
}